// Home specific styles

body {
  background-color: $body-color;
}

header {
  margin-bottom: 39px;
}

.nav-tum {
  background-color: $tumb-color;
  height: 70px;
}

.nav-tum > img {
  width: 28px;
  height: 52px;
  margin-left: 60px;
  padding-top: 20px;
  margin-bottom: 19px;
}

.search-box {
  width: 315px;
  height: 33px;
  background-color: #2d3a4e;
  position: absolute;
  top: 20px;
  left: 150px;
  background-image: url("../img/searchIcon.png");
  background-repeat: no-repeat;
  background-position-x: 16px;
  background-position-y: 50%;
  text-indent: 29px;
}

.icon-nav {
  float: right;
  list-style: none;
  padding-top: 17px;
}

.icon-nav li {
  display: inline-block;
  margin-left: 34px;
}

.pen-icon a img {
  background-color: #529ecc;
  border-radius: 20%;
  width: 38px;
  height: 36px;
  padding: 7px 10px;
  margin-right: 60px;
}

.header-post {
  margin: 0;
}

/* Main */

.big-cont {
  margin-left: 139px;
  margin-right: 60px;
}

.first-user {
  margin-bottom: 31px;
}

.user-Panel {
  height: auto;
  width: 65%;
  background-color: #fff;
  padding-right: 0;
  left: 31px;
}

.second-user {
  height: 169px;
}

.user-Panel2 {
  height: 100px;
  width: 65%;
  background-color: #fff;
  padding-right: 0;
  left: 31px;
  padding: 0;
}

.user-Panel2 p {
  display: inline;
}

.user-Panel3 {
  height: auto;
  width: 65%;
  background-color: #fff;
  padding-right: 0;
  left: 31px;
  padding: 0;

  img {
    width: 100%;
  }
}

.action-icons {
  list-style: none;
  margin: 0;
}

.hashtag {
  margin: 0;
  padding: 3% 0 0 3%;
}

.votes {
  margin: 0;
  padding: 1% 0 0% 3%;
}

.footer-post-icons {
  list-style: none;
}

.footer-post-icons li{
  display: inline-block;
  padding-right: 10%;
}
/* Icons User */

.action-icons li {
  display: inline-block;
  padding: 3% 4% 0;

}


.text-color {
  color: #565656;
}

/* Lateral */

.blogs {
  background-color: #fff;
  height: auto;
}


.blog-user {
  border-bottom: 1px solid #ebebeb;
  padding-top: 21px;
  padding-bottom: 8px;
  margin: 0;
}


.full-cont {
  padding: 31px 28px;
}

.cont-lat-info {
  b{
    color: #565656;
  }
  p {
    font-size: 85%;
    color: #bababa;
  }
}

.explore {
  margin: 0;
  padding: 0px 28px 10px 28px;
  p {
    color: #529ecc;
  }
}

.cont-lateral {
  padding: 0 0 30px;
}

/* Second aside */

.blog-user2 {
  padding-top: 21px;
  padding-bottom: 8px;
  margin: 0;
  
}

.second-aside {
  padding: 0;
}

.radar-photo {
  margin: 0;
  padding: 0 15px;
  img {
    width: 100%;
  }
}

/* 28 31 he*/


.header-post-icons{
  list-style: none;
}

.header-post-icons li {
  display: inline-block;

}

a.iconX:before,
a.iconCompass:before{
 font-family: FontAwesome;
 display: inline-block;
 vertical-align: middle;
 padding-left:30px;
}

a.iconX:before {
 content: "\f00d";
}

a.iconCompass:before {
 content: "\f14e";
}

.header-post {
  padding: 40px 0px 15px 30px;
}