body {
    background-color: $login-body-color;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0, 0, 0, 0.7)), url("../img/login_background.png");
    background-size: cover;
    min-height: 100vh;
    background-position: center;
}

.page-name {
    padding: 218px 0 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.email-input{
    height: 60px;
}

.email-row {
    padding-bottom: 29px;
}

.button-row {
    margin-bottom: 59px;
}

.tumblr-icon {
    background-image: url("../img/sprite2.png");
    background-repeat: no-repeat;
    display: inline-block;
    width: 260px;
    background-position: -65px 0;
    background-size: 180% 500%;
    height: 100px;
}

.next-button {
    width: 100%;
    height: 60px;
    background-color: #ec8524;
}

.sing-up,
.footer-links {
    text-align: center;
    a{
        color: #fff;
        text-decoration: none;
    }
}

.main-container {
    margin-bottom: 152px;
}